#new_bill_container p {
  margin-right: 1.5em;
}

#show_bills_container {
  font-size: 2em;
}

#show_bills_container .ind_bill {
  width: 600px;
  border: 1px solid black;
  color: #fff;
}

#show_bills_container .bill_name, #show_bills_container .bill_amount {
  padding: 30px;
}

#show_bills_container .bill_date {
  width: 10%;
  font-size: .5em;
  padding: 10px;
  text-align: center;
}

#show_bills_container .bill_name {
  width: 40%;
  background: #AA2B31;
}

#show_bills_container .bill_amount {
  background: #333;
  padding-left: 430px;
}


#show_bills_container .bill_options {
  font-size: .5em;
  padding-left: 10px;
}

