@font-face {
  font-family: Sansation;
	src: url('../fonts/sansation/Sansation_Regular.ttf');
	font-family: Walkway-UltraBold;
	src: url('../fonts/walkway/Walkway_UltraBold.ttf');
	font-family: Candela-Bold;
	src: url('../fonts/candela/CandelaBold.otf');
	font-family: Quicksand;
	src: url('../fonts/quicksand/Quicksand_Book.otf');
	font-family: Quicksand-Light;
	src: url('../fonts/quicksand/Quicksand_Light.otf');
	font-family: Quicksand-Bold;
	src: url('../fonts/quicksand/Quicksand_Bold.otf');
	font-family: Armwrestler;
	src: url('../fonts/armwrestler/ArmWrestler.ttf');
}

h1 {
  font-family: Armwrestler, sans-serif;
}

.container {
  width: 710px;
}

body {
  background: #cff;
}

#header {
  padding-top: 20px;
}

#header img {
  padding: 1em;
  background: #fff;
}

#content {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

.icon {
  border: 0;
  width: 25px;
}

.error-icon, .okay-icon {
  margin: 0 0 0 5px;
}

#next_steps div a {
  display: block;
  width: 95%;
  margin: 0 0 5px 0;
  border: 1px solid black;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #fff;
  height: 50px;
  padding: 10px;
  overflow: auto;
}

#next_steps div a:hover {
  text-decoration: none;
}

#next_steps div span {
  float: left;
  clear: none;
  width: 50%;
}

#next_steps .check_off {
  width: 25px;
  vertical-align: middle;
}

#next_steps .go_arrow {
  width: 50px;
  vertical-align: middle;
  position: relative;
  float: right;
  clear: none;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.round-top {
  -moz-border-radius:    5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius:         5px 5px 0 0;
}

.round-top-left {
  -moz-border-radius:    5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius:         5px 0 0 0;
}

.round-top-right {
  -moz-border-radius:    0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius:         0 5px 0 0;
}

.round-bottom {
  -moz-border-radius:    0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius:         0 0 5px 5px;
}

.round-bottom-left {
  -moz-border-radius:    0 0 5px 0;
  -webkit-border-radius: 0 0 5px 0;
  border-radius:         0 0 5px 0;
}

.round-bottom-right {
  -moz-border-radius:    0 0 0 5px;
  -webkit-border-radius: 0 0 0 5px;
  border-radius:         0 0 0 5px;
}

#footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

#footer .navigationigation {
  float: none;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* users */
ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/* floats */
.fleft {
  float: left;
}

.fright {
  float: right;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*** navigation bar styles ***/

ul.navigation,
.navigation ul{
/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
}

ul.navigation{
	display: table;
}
ul.navigation>li{
	display: table-cell;
	position: relative;
	padding: 2px 6px;
}



ul.navigation li>ul{
/*Make the sub list items invisible*/
	display: none;
	position: absolute;
	max-width: 40ex;
	margin-left: -6px;
	margin-top: 2px;
}

ul.navigation li ul li {
  display: block;
}

ul.navigation li:hover>ul{
/*When hovered, make them appear*/
	display : block;
}

.navigation ul li a{
/*Make the hyperlinks as a block element, sort of a hover effect*/
	display: block;
	padding: 2px 10px;
}

/*** Menu colors (customizable) ***/

ul.navigation,
.navigation ul,
.navigation ul li a{
	background-color: #fff;
	color: #369;
}


ul.navigation li:hover,
.navigation ul li a:hover{
	background-color: #369;
	color: #fff;
}

ul.navigation li:active,
.navigation ul li a:active{
	background-color: #036;
	color: #fff;
}

ul.navigation,
.navigation ul{
	border: 1px solid #369;
}

.navigation a{
	text-decoration: none;
}

