<li>
	<%= gravatar_for user, :size => 30 %>
  <%= link_to h(user.name), user %>
  <%= link_to 'Edit', edit_user_path(user) %>
  <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
</li>

