<div class ="profile">
	<div class="main">
		<h2>
			<%= gravatar_for @user %>
			<%= h @user.name %>
		</h2>
	</div>

	<div class="sidebar round">
		<strong>Name</strong> <%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</div>
</div>

