<div id="new_income_container" style="position: relative;">
	<h1>New Income</h1>

	<p>Fill out each field below for the income you would like to add. For instance, if you are paid every 2 weeks on friday, you would enter 'every 2 weeks' in the frequency field, and 'on friday' in the weekday field, and then select if you're getting paid this week or next. Simple, right?</p>

	<%= render :partial => "form" %>

	<%= link_to 'Back', incomes_path %>
</div>

