<h1>About Us</h1>
<p>
  Budgit has one goal: to make your life simpler. Easily add new bills, save for new toys, and get an overview of your
  money at a glance.<br />
  This is budgit. This is your money, made simpler.
</p>

