<h1>Frequently Asked Questions</h1>

Q: Why make a budgeting website?
A: We all hate to budget. We would all rather just throw caution to the wind and hope there is enough money in our accounts when we slide that little plastic card. In fact, we probably do it more than we'd like to admit - so wouldn't it be nice to have a computer think about this for you? It's what computers were made to do - crunch the numbers. Run some figures. Make some charts and graphs. So, hopefully, {name} helps to meet you half-way on the whole 'not going to budget' issue. Throw some numbers at us, and then just periodically glance at what you've got going on.

Q: How does this work?
A: We've tried to make everything super simple here, but there is a little bit initial familiarization to go through. Check out our demo to get a quick overview of what you can expect.

Q: Why doesn't it have X feature?
A: X feature is one of our favorite features as well, but the answer to most requests of this nature fall into one of two categories: it's not simple enough (as an end product) or it's not secure enough. For instance, we could scrap data directly from your bank account, but at the end of the day, we just couldn't think of a completely secure method of doing so that we felt comfertable with. We would have to store your bank username and password - unencrypted - to be able to do this. We just didn't want that on our conscience.

Instead, we've tried to make your income something that might take a little more input on your part, but is a lot more secure on our part. You simply set up a new income, specify frequency (Montly? Biweekly? Specific days?), throw in an hourly wage (or salaried - whatever floats your boat) - and we do our best to project how much money you'll have, and when you'll have it.

Q: Why isn't it flashier?
A: This normally isn't security related but simply simplicity related. Our goal is very straightforward - to make budgeting simple. To do this, we have employed some great web design that gets things done quicker and is hopefully more to the point. However, we've tried to not get too carried away - all the flash in the world won't help you create a budget. Hopefully we've used an appropriate amount of awesome and kept things fairly to the point.

