<h1>Budgit</h1>
<p>
  Simple Budgeting Made Simple
</p>

<% if signed_in? %>
	<%= link_to "View Profile", current_user, :class => "signup_button round" %>
<% else %>
	<%= link_to "Sign Up!", signup_path, :class => "signup_button round" %>
<% end %>

