<div id="edit_recurring_bill_container" style="position: relative;">
	<h1>Edit Recurring Bill</h1>
	<p>Changes made to this bill will alter all bills of this type going forward.</p>

	<%= render :partial => 'form' %>

	<%= link_to 'Back', bills_path %>
</div>

