<p>
  <b>Begins:</b>
  <%=h @pay_period.begins %>
</p>

<p>
  <b>Ends:</b>
  <%=h @pay_period.ends %>
</p>


<%= link_to 'Edit', edit_pay_period_path(@pay_period) %> |
<%= link_to 'Back', pay_periods_path %>